* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*menu*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #165534;
}

header {
    width: 99%; 
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 40px;
    padding: 10px;
}
.logoi{
    height: 90px;
    width: 90px;
    align-content: center;
    border-radius: 80px;
    grid-column: 2/3;
}
#button li a:hover{
    color: #28C920;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}


#button li {
    display: inline;
    padding: 15px 20px;
}

#button li a {
color: #ffffff;
text-decoration: none;
margin: 0 30px 0;
font-family: 'Abril Fatface', cursive;
}

.logo {
    float: left;
   height: 30px;
   width: 30px; 
}
.ref {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    background: rgb(5, 43, 7);
    border-radius: 100px;
}


.r1 {
    grid-column: 5/6;
    text-decoration: none;
font-family: 'Abril Fatface', cursive;
padding: 5px;
padding-top: 31px;

}
.r2 {
    grid-column: 6/7;
    text-decoration: none;
font-family: 'Abril Fatface', cursive;
padding: 5px;
padding-top: 31px;
padding-left: 5%;
    padding-right: 6%;
}
.r3 {
    grid-column: 7/8;
    text-decoration: none;
font-family: 'Abril Fatface', cursive;
padding: 5px;
padding-top: 31px;
}
.r4 {
    grid-column: 8/9;
    text-decoration: none;
font-family: 'Abril Fatface', cursive;
padding: 5px;
padding-top: 31px;
}
.r5 {
    grid-column: 9/10;
    text-decoration: none;
font-family: 'Abril Fatface', cursive;
padding-top: 31px;
padding-left: 70px;
}

/*contenido*/
.container{
    padding: 50px;
}

div{
    background-color: #165534;
    padding-left: 5%;
    padding-right: 5%;
    
}
body{
    background-color: #165534;
}
h1{
    color: #FFCC00;

    font-family: 'Open Sans', sans-serif;
}
h2{
    color: #FFCC00;

    font-family: 'Open Sans', sans-serif;
}
p{
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
   
}
img{
    height: 350px;
    width: 350px;
    padding: 10px;
}
.fotos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    padding-top: 10px
}
.der{
    grid-column: 4/6;
}
.izq{
    grid-column: 1/2;
}
.texi{
    grid-column: 1/4;
    padding: 10px;
}
.texd{
    grid-column: 2/6;
    padding: 10px;
}
.fotos1{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
}
color{
    color: #FFCC00;
}


/*footer*/
.Footer{
    background-color: #081F15;
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
    margin-bottom: 0px;
    
}
.Footer1{
    background-color: #081F15;
}
.t{
    color: white;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 0px;
}
.t1{
    color: white;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 0px;
}

.c, a{
    color: white;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
}

.c{
    background-color: #081F15;
    display: grid;
    grid-template-columns: repeat(30,1fr);
    margin-bottom: 0px;
    
}
.l{
    height: auto;
    width: auto;
    grid-column: 1/2;
    padding: 0px;
}
.l1{
    grid-column: 1/2;
    height: auto;
    width: auto;
    padding: 0px;
}
.texto{
    grid-column: 2/30;
    padding: 0px;
}
a:hover{
    color: #28C920;
}

.img1{
    width: auto;
    height: auto;
    padding: 20px;
}
.po{
    color: white;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
}

/*responsive*/

@media only screen and (max-width: 800px){
    /*menu*/
    body {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        background: #165534;
    }
    
    header {
        width: 99%; 
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;margin: auto;
        margin: auto;
        width: auto;
    }
    .logoi{
        height: 150px;
        width: 150px;
        border-radius: 80px;
        grid-column: 1/1;
        margin: auto;
        align-items: center;

    }
    #button li a:hover{
        color: #28C920;
        
    }
    .menu ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
    }
    
    
    #button li {
        display: inline;
        padding: 15px 20px;
    }
    
    #button li a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 30px 0;
    font-family: 'Abril Fatface', cursive;
    }
    
    .logo {
        float: left;
       height: 30px;
       width: 30px; 
    }
    .ref {
        display: grid;
        grid-template-columns: 1fr;
        background: rgb(5, 43, 7);
        border-radius: 50px;
    }
    .r1 {
        grid-column: 1/1;
        text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    padding: 5px;
    padding-top: 31px;
    }
    .r2 {
        grid-column: 1/1;
        text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    padding: 5px;
    padding-top: 31px;
    }
    .r3 {
        grid-column: 1/1;
        text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    padding: 5px;
    padding-top: 31px;
    }
    .r4 {
        grid-column: 1/1;
        text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    padding: 5px;
    padding-top: 31px;
    padding-left: 5px;
    }
    .r5 {
        grid-column: 1/1;
        text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    padding-top: 31px;
    padding-left: 5px;
    padding-bottom: 10px;
    }
    
    /*contenido*/
    .container{
        padding: 5px;
    }
    
    div{
        background-color: #165534;
        padding-left: 1%;
        padding-right: 1%;
        
    }
    body{
        background-color: #165534;
    }
    h1{
        color: #FFCC00;
        font-family: 'Open Sans', sans-serif;
    }
    h2{
        color: #FFCC00;
    
        font-family: 'Open Sans', sans-serif;
    }
    p{
        color: white;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;

    }
    img{
        height: 350px;
        width: 350px;
        padding: 10px;
    }
    .fotos{
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        padding-top: 5px;
    }
    .der{
        grid-column: 1/1;
        height: 250px;
        width: 250px;
        display: block;
        margin: auto;
    }
    .izq{
        grid-column: 1/1;
        height: 250px;
        width: 250px;
        display: block;
        margin: auto;
    }
    .texi{
        grid-column: 1/1;
        padding: 10px;
    }
    .texd{
        grid-column: 1/1;
        padding: 10px;
    }
    .fotos1{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-top: 10px;
        padding-left: 10px;
    }
    color{
        color: #FFCC00;
    }
    
    
    /*footer*/
    .Footer{
        background-color: #081F15;
        display: grid;
        grid-template-columns: 75% 25%;
        width: 100%;
        margin-bottom: 0px;
        padding-left: 2%;
        padding-right: 2%;
        
    }
    .Footer1{
        background-color: #081F15;
    }
    .t{
        color: white;
        font-family: 'Abril Fatface', cursive;
        padding-bottom: 0px;
    }
    .t1{
        color: white;
        font-family: 'Abril Fatface', cursive;
        padding-bottom: 0px;
    }
    
    .c, a{
        color: white;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        padding-left: 5px;
    }
    
    .c{
        background-color: #081F15;
        display: grid;
        grid-template-columns: repeat(30,1fr);
        margin-bottom: 0px;
        
    }
    .l{
        height: 10px;
        width: 10px;
        grid-column: 1/2;
        padding: 0px;
    }
    .l1{
        grid-column: 1/2;
        height: 10px;
        width: 10px;
        padding: 0px;
    }
    .texto{
        grid-column: 2/30;
        padding: 0px;
    }
    a:hover{
        color: #28C920;
    }
    
    .img1{
        width: 620px;
        height: auto;
        padding: 20px;
    }
    .po{
        color: white;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        padding: 0px;
    }
    .b{
        font-size: 12px;
    }
}